<%- if controller_name != 'sessions' %>
  <%= link_to t('view.devise.log_in'), new_session_path(resource_name) %><br />
<% end -%>


<div id="sign-in" class=" row">
  <div class="col-4">
    <a href = <%= omniauth_authorize_path(resource_name,"vkontakte") %>>
     <img class="sigin-icon" src="https://image.flaticon.com/icons/png/512/25/25684.png" alt="">
    </a>
  </div>
  <div class="col-4">
    <a href = <%= omniauth_authorize_path(resource_name,"facebook") %>>
     <img class="sigin-icon" src="https://image.freepik.com/free-icon/facebook-symbol_318-37686.jpg" alt="">
    </a>
  </div>
  <div class="col-4">
    <a href = <%= omniauth_authorize_path(resource_name,"twitter") %>>
     <img class="sigin-icon" src="https://image.freepik.com/free-icon/twitter-bird-in-a-rounded-square_318-41054.jpg" alt="">
    </a>
  </div>
</div>



