<h3><%= Manual.model_name.human(count: 2) %></h3>



<%= link_to t('action.manual.new'), new_manual_path, class: "btn btn-primary"%>
<div class="row">
  
<% @manuals.each do |manual| %>
  <%= render manual %>
<% end %>
</div>

