<div id="footer">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"><%= show_category @manual %></div>
    <div class="col-2"><%= show_author @manual %></div>
    <div class="col-2"></div>
  </div>
</div>